@charset "UTF-8";
header {
  width: 100%;
  display: flex;
  background-color: rgba(32, 21, 71, 0.937254902);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
header div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 2rem;
}
header div img {
  width: 5rem;
}
header div p {
  font-size: 2.4rem;
  font-style: italic;
  padding: 0 1rem;
}
header ul {
  display: none;
}

.section__starter {
  width: 100%;
  height: calc(100vh - 6rem);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section__starter .wrapper {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section__starter .wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  gap: 3rem;
}
.section__starter .wrapper div h1 {
  font-size: 3.5rem;
  position: relative;
  margin: 2rem 0;
}
.section__starter .wrapper div h1::before {
  content: "";
  height: 0.125em;
  width: 100%;
  position: absolute;
  top: 4rem;
  z-index: -1;
  background: #E93CAC;
}
.section__starter .wrapper div h2 {
  font-size: 2rem;
  text-align: center;
}
.section__starter .wrapper div p {
  font-size: 1.4rem;
  text-align: center;
}
.section__starter .wrapper div .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section__starter .wrapper div .btnContainer button {
  position: relative;
  width: 15rem;
  margin: 1rem 0;
  padding: 0.5em;
  border: 0.125em solid #E93CAC;
  border-radius: 3.125em;
  background-color: transparent;
  box-shadow: 0 0 0.45em #E93CAC, inset 0 0 0.45em #E93CAC;
  color: #E93CAC;
  font-size: 2rem;
  text-shadow: 0 0 0.45em #E93CAC;
  cursor: pointer;
}
.section__starter .wrapper div .btnContainer button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #E93CAC;
  inset: 0;
  margin: auto;
  top: 200%;
  width: 60%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
  filter: blur(1em);
  opacity: 0.7;
}
.section__starter .wrapper div .btnContainer button:hover {
  background-color: #E93CAC;
  color: rgba(32, 21, 71, 0.937254902);
  text-shadow: 0 0 1px rgba(32, 21, 71, 0.937254902);
}
.section__starter .wrapper div .btnContainer button:hover::before {
  opacity: 1;
}
.section__starter .wrapper div .btnContainer button.faucetOff {
  box-shadow: none;
  color: #44525f;
  text-shadow: none;
  border: 0.125em solid #44525f;
  border-radius: 3.125em;
  background-color: transparent;
  cursor: auto;
}
.section__starter .wrapper div .btnContainer button.faucetOff::before {
  display: none;
}
.section__starter .wrapper img {
  width: 10rem;
  margin: auto 1rem;
}

.tapDown {
  align-self: flex-start;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 9;
  margin: auto 0;
  color: #00BCE1;
  transform: rotate(-90deg);
  transform-origin: 0;
}
.tapDown::before {
  content: "";
  background-color: #E93CAC;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  left: -1rem;
  position: relative;
}
.tapDown p {
  font-size: 1.4rem;
}

.section__swap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 6rem);
  position: relative;
}
.section__swap .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  gap: 4rem;
}
.section__swap .wrapper h2 {
  font-size: 3rem;
  margin: 8rem auto 3rem;
  position: relative;
  width: 100%;
  text-align: center;
}
.section__swap .wrapper .swapContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(32, 21, 71, 0.937254902);
  border-radius: 2rem;
  font-size: 1.6rem;
}
.section__swap .wrapper .swapContainer div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.section__swap .wrapper .swapContainer div select, .section__swap .wrapper .swapContainer div input {
  padding: 0.5rem;
  border-radius: 1rem;
  color: rgba(32, 21, 71, 0.937254902);
  text-align: center;
}
.section__swap .wrapper .swapContainer div select:focus-visible, .section__swap .wrapper .swapContainer div input:focus-visible {
  outline: 0;
}
.section__swap .wrapper .swapContainer div select:hover, .section__swap .wrapper .swapContainer div input:hover {
  outline: 0.1rem solid #E93CAC;
}
.section__swap .wrapper .swapContainer .swapBtn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  background-color: #E93CAC;
  color: #fff;
}
.section__swap .wrapper .swapContainer .swapBtn:hover {
  cursor: pointer;
}

.section__staking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 6rem);
  position: relative;
  top: 6rem;
}
.section__staking h2 {
  font-size: 3rem;
  margin: 2.5rem;
  position: absolute;
  top: 6rem;
  text-align: center;
}
.section__staking h3 {
  font-size: 1.5rem;
  margin: 2rem;
}
.section__staking .section__staking-app {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 95%;
  background-color: rgba(32, 21, 71, 0.937254902);
  border-radius: 2rem;
  font-size: 1.2rem;
}
.section__staking .section__staking-app > :not(:last-child) {
  border-bottom: 0.1rem solid #ABB8C3;
}
.section__staking .section__staking-app .section__staking-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  padding: 1.5rem 0.5rem;
}
.section__staking .section__staking-app .section__staking-row .section__staking-col {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section__staking .section__staking-app .section__staking-row .section__staking-col.firstOfClass {
  flex-direction: row;
}
.section__staking .section__staking-app .section__staking-row .section__staking-col.firstOfClass img {
  display: inline;
  width: 2rem;
}
.section__staking .section__staking-app .stakeBtnContainer {
  width: 100%;
  display: flex;
  gap: auto;
  justify-content: space-evenly;
}
.section__staking .section__staking-app .stakeBtnContainer .stakeBtn, .section__staking .section__staking-app .stakeBtnContainer .unstakeBtn {
  padding: 1rem;
  flex-basis: 40%;
  background: #051C2C;
  border-radius: 0.5rem;
  border: solid 0.125em #E93CAC;
  padding: 0.2rem;
  color: #E93CAC;
}
.section__staking .section__staking-app .stakeBtnContainer .stakeBtn:hover, .section__staking .section__staking-app .stakeBtnContainer .unstakeBtn:hover {
  text-shadow: 0 0 0.125em #E93CAC;
  box-shadow: 0 0 0.125em #E93CAC, 0 0 0.125em #E93CAC, inset 0 0 0.125em #E93CAC, inset 0 0 0.125em #E93CAC;
}

footer {
  margin-top: auto;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
footer .footer__div-sup {
  display: flex;
  justify-content: space-between;
}
footer .footer__div-sup img {
  width: 5rem;
}

/* Properties order: display stuff > positioning > box modelling > typography > object manipulation */
/* Orden de propiedades: display > posicionamiento > formato de cajas general > tipografía > manipulación de objetos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  list-style: none;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background-color: #051C2C;
  color: #fff;
}
body a {
  text-decoration: none;
}

.scrollDownBtn {
  background-image: url(../assets/accesories/scrolldown.svg);
  display: none;
}

.scrollUpBtn {
  background-image: url(../assets/accesories/scrollup.svg);
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}/*# sourceMappingURL=style.css.map */