header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(253deg, 54%, 18%);
}
header .header__logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem;
}
header .header__logo-container img {
  width: 5rem;
}
header .header__logo-container p {
  font-size: 2.4rem;
  font-style: italic;
  padding: 0 1rem;
}
header nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 2rem;
}
header nav .header__nav-ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.8rem;
}
header nav li a {
  position: relative;
  padding: 0 0.5rem;
}
header nav li a::after {
  content: "";
  height: 0.2rem;
  position: absolute;
  width: 0;
  left: 0;
  top: 2.5rem;
  background-color: #E93CAC;
  transition: width ease 300ms;
}
header nav li a:hover::after {
  width: 100%;
}
header .header__nav-toggler {
  display: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: 9999;
  right: 10%;
}
header .header__nav-toggler span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  transform-origin: 0 100%;
  transition: all ease 300ms;
}
header .header__nav-toggler span.menuLine1.active {
  transform: rotate(45deg) translate(0, -4px);
}
header .header__nav-toggler span.menuLine2.active {
  opacity: 0;
  transform: translateX(-3rem);
}
header .header__nav-toggler span.menuLine3.active {
  transform: rotate(-45deg) translate(0, 4px);
}

.swal2-styled.swal2-confirm.swalBtnCustom, .swal2-styled.swal2-cancel.swalBtnCustom {
  text-shadow: black 0 0 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  header div p {
    display: none;
  }
  header nav .header__nav-ul {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    inset: 0 0 0 30%;
    padding: min(20vh, 15rem) min(10vh, 5rem);
    background-color: hsla(192deg, 76%, 63%, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    transition: all ease 300ms;
  }
  header nav .header__nav-ul.hidden {
    transform: translateX(100%);
  }
  header .header__nav-toggler {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  li:nth-child(4) {
    position: relative;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #E93CAC;
    border: solid 1px #151515;
    box-shadow: 0 0 0.3em #E93CAC, 0 0.4rem 0 0 #7e0e56;
    -webkit-text-stroke: 0.03rem #051C2C;
  }
  li:nth-child(4):active {
    top: 0.4rem;
    box-shadow: 0 0 0.3rem #E93CAC;
  }
  li:nth-child(4):hover {
    background-color: #e625a2;
    color: rgba(32, 21, 71, 0.937254902);
  }
  li:nth-child(4):hover a {
    color: rgba(32, 21, 71, 0.937254902);
  }
  li:nth-child(4) a:hover::after {
    height: 0;
    width: 0;
  }
}
.section__starter {
  position: relative;
  width: 100%;
  height: calc(100vh - 7rem);
  margin-top: 7rem;
}
.section__starter .wrapper {
  height: inherit;
  padding: 4rem 0;
  display: flex;
}
.section__starter .wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  gap: 4rem;
}
.section__starter .wrapper > div h1 {
  font-size: 3.5rem;
  position: relative;
  margin: 2rem 0;
}
.section__starter .wrapper > div h1::before {
  content: "";
  height: 0.4375rem;
  width: 100%;
  position: absolute;
  top: 3.53rem;
  z-index: -1;
  background: #E93CAC;
}
.section__starter .wrapper > div h2 {
  font-size: 2rem;
  text-align: center;
}
.section__starter .wrapper > div p {
  font-size: 1.4rem;
  text-align: center;
}
.section__starter .wrapper > div .btnContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.section__starter .wrapper > div .btnContainer button {
  flex-basis: auto;
  position: relative;
  margin: 1rem 0;
  width: 15rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #E93CAC;
  box-shadow: 0 0.4rem 0 0 #7e0e56;
  color: #fff;
  -webkit-text-stroke: 0.03rem #051C2C;
  font-size: 2rem;
  cursor: pointer;
}
.section__starter .wrapper > div .btnContainer button:hover {
  background-color: #e625a2;
  color: rgba(32, 21, 71, 0.937254902);
}
.section__starter .wrapper > div .btnContainer button:active {
  top: 0.4rem;
  box-shadow: none;
}
.section__starter .wrapper > div .btnContainer button.faucetOff {
  box-shadow: none;
  color: #44525f;
  border: 0.2rem solid #44525f;
  background-color: #ABB8C3;
  cursor: auto;
  top: 0.4rem;
}
.section__starter .wrapper img {
  width: 10rem;
  margin: auto 1rem;
}

@media (max-width: 768px) {
  .section__starter .wrapper > div .btnContainer {
    justify-content: space-around;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section__starter .wrapper > div .btnContainer button {
    width: 12rem;
    padding: 0.5em 0;
  }
}
.section__swap {
  position: relative;
  width: 100%;
  height: calc(100vh - 7rem);
}
.section__swap .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding: 4rem 0;
  gap: 4rem;
}
.section__swap .wrapper h2 {
  font-size: 3rem;
  margin: 2.5rem;
  position: relative;
  text-align: center;
}
.section__swap .wrapper .swapContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(32, 21, 71, 0.937254902);
  border-radius: 2rem;
  font-size: 1.6rem;
}
.section__swap .wrapper .swapContainer div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.section__swap .wrapper .swapContainer div select, .section__swap .wrapper .swapContainer div input {
  padding: 0.5rem;
  border-radius: 1rem;
  color: rgba(32, 21, 71, 0.937254902);
  text-align: center;
}
.section__swap .wrapper .swapContainer div select:focus-visible, .section__swap .wrapper .swapContainer div input:focus-visible {
  outline: 0;
}
.section__swap .wrapper .swapContainer div select:hover, .section__swap .wrapper .swapContainer div input:hover {
  outline: 0.1rem solid #E93CAC;
}
.section__swap .wrapper .swapContainer .swapBtn {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  background-color: #E93CAC;
  color: #fff;
  -webkit-text-stroke: 0.03rem #051C2C;
  box-shadow: 0 0.4rem 0 0 #7e0e56;
}
.section__swap .wrapper .swapContainer .swapBtn:hover {
  cursor: pointer;
  background-color: #e625a2;
  color: rgba(32, 21, 71, 0.937254902);
}
.section__swap .wrapper .swapContainer .swapBtn:active {
  top: 0.4rem;
  box-shadow: none;
}
.section__swap .wrapper .swapContainer .swapBtn.swapOff {
  box-shadow: none;
  color: #44525f;
  border: 0.2rem solid #44525f;
  background-color: #ABB8C3;
  cursor: auto;
  top: 0.4rem;
}

.section__staking {
  position: relative;
  width: 100%;
  height: calc(100vh - 7rem);
}
.section__staking .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  padding: 1rem;
}
.section__staking .wrapper h2 {
  font-size: 3rem;
  margin: 2rem;
  top: 6rem;
  text-align: center;
}
.section__staking .wrapper h3 {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}
.section__staking .wrapper h4 {
  font-size: 1.2rem;
}
.section__staking .wrapper .section__staking-app {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 75%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  width: 80%;
  background-color: rgba(32, 21, 71, 0.937254902);
  border-radius: 2rem;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: auto;
  text-align: center;
}
.section__staking .wrapper .section__staking-app > :not(:last-child) {
  border-bottom: 0.1rem solid #ABB8C3;
}
.section__staking .wrapper .section__staking-app .section__staking-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  padding: 1.5rem 1.25rem;
}
.section__staking .wrapper .section__staking-app .section__staking-row .section__staking-col {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.section__staking .wrapper .section__staking-app .section__staking-row .section__staking-col.firstOfClass {
  flex-direction: row;
}
.section__staking .wrapper .section__staking-app .section__staking-row .section__staking-col.firstOfClass img {
  display: inline;
  width: 2rem;
}
.section__staking .wrapper .section__staking-app .stakeBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section__staking .wrapper .section__staking-app .stakeBtnContainer .stakeBtn, .section__staking .wrapper .section__staking-app .stakeBtnContainer .unstakeBtn {
  flex-basis: 20%;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 2rem;
  padding: 0.75rem 1rem;
  background-color: #E93CAC;
  color: #fff;
  -webkit-text-stroke: 0.02rem #051C2C;
  box-shadow: 0 0.3rem 0 0 #7e0e56;
}
.section__staking .wrapper .section__staking-app .stakeBtnContainer .stakeBtn:hover, .section__staking .wrapper .section__staking-app .stakeBtnContainer .unstakeBtn:hover {
  color: rgba(32, 21, 71, 0.937254902);
  background-color: #e625a2;
}
.section__staking .wrapper .section__staking-app .stakeBtnContainer .stakeBtn:active, .section__staking .wrapper .section__staking-app .stakeBtnContainer .unstakeBtn:active {
  top: 0.3rem;
  box-shadow: none;
}

@media (max-width: 768px) {
  .section__staking .wrapper .section__staking-app {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
footer .footer__div-sup {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}
footer .footer__div-sup h3 {
  position: relative;
  padding: 0 0.2rem;
}
footer .footer__div-sup h3::after {
  content: "";
  width: 100%;
  height: 0.15rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  background-color: #E93CAC;
}
footer .footer__div-sup > * {
  height: 100%;
}
footer .footer__div-sup hr {
  width: 60%;
  height: 0.1rem;
  border: none;
  background-color: #59CBE8;
}
footer .footer__div-sup .footer__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer__div-sup .footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
footer .footer__div-sup .footer__dev {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}
footer .footer__div-sup .footer__dev h3 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
footer .footer__div-sup .footer__contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer__div-sup .footer__contact a {
  font-size: 1rem;
}
footer .footer__div-sup .footer__contact a i {
  color: #00BCE1;
  filter: drop-shadow(0 0 0.1rem #00BCE1);
}
footer small {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    height: 100%;
    padding: 1rem 16rem;
  }
  footer .footer__div-sup {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .footer__div-sup hr {
    display: block;
    height: 80%;
    width: 0.1rem;
    filter: drop-shadow(0 0 0.25rem #00BCE1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  list-style: none;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  background-color: #051C2C;
  color: #fff;
}
body a {
  text-decoration: none;
  color: #fff;
}

.scrollDownBtn {
  background-image: url(../assets/accesories/scrolldown.svg);
  display: none;
}

.scrollUpBtn {
  background-image: url(../assets/accesories/scrollup.svg);
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}/*# sourceMappingURL=style.css.map */