$mondswappalette: (
    'pink-detail': #E93CAC,
    'main-cyan': #00BCE1,
    'alt-cyan':#59CBE8,
    'main-blue':#201547ef,
    'alt-blue':#1E22AA,
    'background': #051C2C,
    'plainwhite': #fff,
    'dark': #151515,
    'altgrey': #ABB8C3,
);
