/* Properties order: display stuff > positioning > box modelling > typography > object manipulation */
/* Orden de propiedades: display > posicionamiento > formato de cajas general > tipografía > manipulación de objetos */

@use './abstracts/' as abs;
@use './components/index';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: abs.$main-font;
    font-weight: 100;
    list-style: none;
}

html {
    height: 100%;

    font-size: 62.5%;

    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    padding: 0;
    background-color:  abs.color('background');

    color: abs.color('plainwhite');

    a {
        text-decoration: none;
    }
}

.scrollDownBtn {
    background-image: url(../assets/accesories/scrolldown.svg);
    display: none;
}

.scrollUpBtn {
    background-image: url(../assets/accesories/scrollup.svg);
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}