@use '../abstracts/' as abs;

header {
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(253, 54%, 18%);
    
    .header__logo-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: max-content;
        padding: 1rem 2rem;

        img {
            width: 5rem;
        }

        p {
            font-size: 2.4rem;
            font-style: italic;
            padding: 0 1rem;
        }
    }

    nav {
        width: max-content; 
        margin-right: 2rem;

        .header__nav-ul {
            display: flex;
            align-items: center;
            gap: 5rem;
        
            font-size: 1.8rem;
        }

        li {
            a {
                position: relative;
                padding: 0 .5rem;
    
                &::after {
                    content: "";
                    height: .2rem;
                    position: absolute;
                    width: 0;
                    left: 0;
                    top: 2.5rem;
                    background-color: abs.color('pink-detail');
                    transition: width ease 300ms;
                }
    
                &:hover::after {
                    width: 100%; 
                }
            }
        }
    }

    .header__nav-toggler {
        display: none;
        width: 3rem;
        height: 3rem;
        position: absolute;
        z-index: 9999;
        right: 10%;

        span {
            display: block;
            width: 100%;
            height: .2rem;
            background-color: abs.color('plainwhite');
            transform-origin: 0 100%;
            transition: all ease 300ms;

            &.menuLine1.active {
                transform: rotate(45deg) translate( 0, -4px);
            }

            &.menuLine2.active {
                opacity: 0;
                transform: translateX(-3rem);
            }

            &.menuLine3.active {
                transform: rotate(-45deg) translate( 0, 4px);
            }
        }
    }
}

.swal2-styled.swal2-confirm.swalBtnCustom , .swal2-styled.swal2-cancel.swalBtnCustom { 
    text-shadow: black 0 0 5px;
    font-size: 1.2rem;
    font-weight: bold;
};

@media (max-width: 768px) {
    header {

        div p {
            display: none;
        }
        
        nav {
            .header__nav-ul {
                flex-direction: column;
                align-items: flex-start;

                position: fixed;
                inset: 0 0 0 30%;
        
                padding: min(20vh, 15rem) min(10vh, 5rem);
                background-color: hsl(192 76% 63% / 0.1);
                backdrop-filter: blur(1rem);

                transition: all ease 300ms;
                
                &.hidden {
                    transform: translateX(100%);
                }
            }
        }
        
        .header__nav-toggler {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) {

    li:nth-child(4) {
        position: relative;
        border-radius: 2rem;
        padding: 1rem;
        background-color: abs.color('pink-detail');
        border: solid 1px abs.color('dark');
        box-shadow: 0 0 0.3em abs.color('pink-detail'), 0 .4rem 0 0 darken(abs.color('pink-detail'), 30%);
        -webkit-text-stroke: .03rem abs.color('background');

        &:active {
            top: .4rem;
            box-shadow: 0 0 0.3rem abs.color('pink-detail');                    
        }

        &:hover {
            background-color: darken(abs.color('pink-detail'),5%);

            color: abs.color('main-blue');

            a {
            color: abs.color('main-blue');
            }
        }
        
        a:hover::after {
            height: 0;
            width: 0;
        }

    }
}