@use '../abstracts/index' as abs;

.section__staking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100vh - 6rem);
    position: relative;
    top: 6rem;

    h2 {
        font-size: 3rem;
        margin: 2.5rem;
        position: absolute;
        top: 6rem;

        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
        margin: 2rem;
    }
    
    .section__staking-app {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        height: max-content;
        width: 95%;
        background-color: abs.color('main-blue');
        border-radius: 2rem;
        font-size: 1.2rem;

        &> :not(:last-child) {
            border-bottom: .1rem solid abs.color('altgrey');
        }
        
        .section__staking-row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: .5rem;
            justify-items: center;
            align-items: center;
            padding: 1rem auto;

            .section__staking-col {
                width: 100%;
                height: 100%;
                display: flex;
                padding: .5rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                &.firstOfClass {
                    flex-direction:row;

                    img {
                        display: inline;
                        width: 2rem;
                    }
                }
            }
        }
        .stakeBtnContainer {
            padding: auto;
            width: 100%;
            display: flex;
            gap: auto;
            justify-content: space-evenly;

            .stakeBtn, .unstakeBtn {
                /* padding: 1rem;  Algo lo sobreescribe o bloquea*/
                flex-basis: 40%;
                background: abs.color('background');
                border-radius: .5rem;
                border: solid .125em abs.color('pink-detail');
                padding: .2rem;
                color: abs.color('pink-detail');
                
                
                &:hover {
                    text-shadow: 0 0 0.125em abs.color('pink-detail');
                    box-shadow: 0 0 0.125em abs.color('pink-detail'), 0 0 0.125em abs.color('pink-detail'), inset 0 0 0.125em abs.color('pink-detail'), inset 0 0 0.125em abs.color('pink-detail');
                }
            }
        }

    } 
}